<div class="card">
	<h2>About</h2>
	<p><%- app_text.about %></p>
	<h3>Authors</h3>
	<ul>
		<li>Concept by Mehdi El Fadil, <a href="https://mango-is.com/">Mango Information Systems</a> <img src="img/mango-information-systems-cube.png" height="24" style="vertical-align:middle" aria-hidden="true"/></li>
		<li>Development by Mehdi El Fadil, <a href="https://mango-is.com/">Mango Information Systems</a> <img src="img/mango-information-systems-cube.png" height="24" style="vertical-align:middle" aria-hidden="true"/> and Panagiotis Synetos, <a href="http://11dig.it/">Eleven Digit Labs</a> <img src="img/11dig-it-cube.png" height="24" style="vertical-align:middle" aria-hidden="true"/></li>
	</ul>
	<div class="alert">
		<h4>Need to make sense of business data?</h4>
		<p>We can help you with analytics and modern web visualizations.</p>
		<a class="button button-primary u-full-width" href="https://mango-is.com/contact/">Hire us!</a>
	</div>
	<h3>Facts</h3>
	<ul>
		<li>twitto.be was created in about 40 hours of work.</li>
		<li>Twitto.be is open source, you are free to use <a href="https://github.com/Mango-information-systems/twitto_be">the code</a> to create your own dashboard. Contributions are welcome, too :)</li>
		<li>Between 2013 and 2015, twitto.be was a public directory of Belgian twitter users. We retired that version, but its source code is still available: <a href="https://github.com/Mango-information-systems/twitto_be/tree/v0.4.5">archive</a>.</li>
	</ul>
	<h3>Share</h3>
	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="three columns">
					<a id="shareTwitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ftwitto.be&text=Have a look at Twitto.be, a real-time dashboard of Belgian twitter activity&via=twitto_be&hashtags=twittoBe" target="_blank"><img src="img/social_twitter_circle_color.png" width="48" height="48" alt="Share on Twitter"/></a>
				</div>
				<div class="three columns">
					<a id="shareGoogle" href="https://plus.google.com/share?url=http%3A%2F%2Ftwitto.be" target="_blank"><img src="img/social_google_circle_color.png" width="48" height="48" alt="Share on Google+"/></a>
				</div>
				<div class="three columns">
					<a id="shareFacebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftwitto.be" target="_blank"><img src="img/social_facebook_circle_color.png" width="48" height="48" alt="Share on Facebook"/></a>
				</div>
				<div class="three columns">
					<a id="shareLinkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ftwitto.be&title=Have a look at Twitto.be, a real-time dashboard of Belgian twitter activity&source=twitto_be" target="_blank"><img src="img/social_linkedin_circle_color.png" width="48" height="48" alt="Share on Linkedin"/></a>
				</div>
			</div>
		</div>
	</div>
</div>
