<div class="card">
	<h2>About</h2>
	<p><%- appText.about %></p>
	<p>Twitto.be is open source, you are free to use <a href="https://github.com/Mango-information-systems/twitto_be">the code</a> to create your own dashboard. Contributions are welcome, too :)</p>
	<h3>Authors</h3>
	<ul>
		<li>Concept by Mehdi El Fadil, <a href="https://mango-is.com/">Mango Information Systems</a></li>
		<li>Development by Mehdi El Fadil, <a href="https://mango-is.com/">Mango Information Systems</a> and Panagiotis Synetos, <a href="https://11dig.it/">Eleven Digit Labs</a></li>
	</ul>
	<h3>History</h3>
	<p>Started as a ranking of top Belgian influencers, twitto has progressively evolved to become content-centric.</p>
	<ul>
		<li>2013, June - First version: ranking of top Belgian influencers, by topic and province.</li>
		<li>2016, September - Twitto v2 and v3: realtime dashboard of tweets geolocated in Belgium.</li>
		<li>2020, February - Twitto v4 gets a live graph (as in <a href="https://en.wikipedia.org/wiki/Graph_theory">Graph theory</a>) monitoring feature, and switch its focus to the Belgian startup world.</li>
	</ul>
	<h3>Share</h3>
	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<div class="three columns">
					<a id="shareTwitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftwitto.be&text=Have a look at Twitto.be, a real-time dashboard of Belgian twitter activity&via=twitto_be&hashtags=twittoBe" target="_blank"><img src="img/social_twitter_circle_color.png" width="48" height="48" alt="Share on Twitter"/></a>
				</div>
				<div class="three columns">
					<a id="shareGoogle" href="https://plus.google.com/share?url=https%3A%2F%2Ftwitto.be" target="_blank"><img src="img/social_google_circle_color.png" width="48" height="48" alt="Share on Google+"/></a>
				</div>
				<div class="three columns">
					<a id="shareFacebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftwitto.be" target="_blank"><img src="img/social_facebook_circle_color.png" width="48" height="48" alt="Share on Facebook"/></a>
				</div>
				<div class="three columns">
					<a id="shareLinkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Ftwitto.be&title=Have a look at Twitto.be, a real-time dashboard of Belgian twitter activity&source=twitto_be" target="_blank"><img src="img/social_linkedin_circle_color.png" width="48" height="48" alt="Share on Linkedin"/></a>
				</div>
			</div>
		</div>
	</div>
</div>
