<div class="card">
	<h2>Twitto.be is closed</h2>

	<p><em>April 11th, 2023</em></p>
	
	<p>Hi, following some changes on how twitter provides access to its data, I have decided to close down this website, and archive <a href="https://github.com/Mango-information-systems/twitto_be">twitto's source code</a>.</p>
	
	<p>Twitto has been online since 2013, and caught the interest and engagement of Belgian twitter users. An average of 5000 people visited the website each year, and the <strong>tweets sent by @twitto_be reached 350k people every year</strong>. If you'd like to know more about what twitto was, read the <a href="https://alef.website/projects/twitto-be?utm_source=twitto-be&utm_medium=twitto-be&utm_campaign=generic">story of twitto.be</a>.</p>
	
	<p>If you need help designing and building interactive reports and dashboards, get in touch on my new site <a href="https://alef.website/contact?utm_source=twitto-be&utm_medium=twitto-be&utm_campaign=generic">alef.website</a>.</p>
	
</div>
