<div class="card">
	<h2>FAQ</h2>

	<h3>Which tweets are included in the dashboard?</h3>
	<p>Twitto_be monitors tweets <%- monitor %>.</p>

	<h3>I am not in Belgium, why is <a href="https://twitter.com/twitto_be">@twitto_be</a> mentioning me?</h3>
	<p>This is because people located in Belgium or tweeting about Belgium are mentioning you in their tweets.</p>

	<h3>What does the hashtags graph mean?</h3>
	<p>The graph display the hashtags most frequently seen in the recent tweets about Belgium. Each time two hashtags are used in one tweet, a line is created between them. The following <a href="https://en.wikipedia.org/wiki/Social_network_analysis">Social Network Analysis (SNA)</a> techniques are applied:</p>
	<ul>
		<li><a href="https://en.wikipedia.org/wiki/Louvain_modularity">Community detection (Louvain method)</a>: the hashtags frequently found together in tweets are grouped, each community is assigned to a color.</li>
		<li>Weighted degree: the number of links to each hashtags is used to display only the top 200 most relevant ones.</li>
		<li><a href="https://en.wikipedia.org/wiki/Force-directed_graph_drawing">Force-directed layout (ForceAtlas2)</a>: this algorithm lays out the graph so that the hashtags used frequently together get closer to each other, and helps visualizing the community structure of the graph.</li>
	</ul>
	
</div>
