<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<section>
		<h1>Welcome to Twitto.be</h1>
		<%- svg %>
	</section>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
	<script src="./js/app.js"></script>
</body>
</html>
