<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>


<section>
    <div class="container-fluid">
		<header>
			<% include ../partials/header %>
		</header>
        <div class="row">
            <div class="one-half column">
				<div class="card">
					<div class="row">
						<div class="one-half column" id="counter">
							<h2>Tweets in the last 24 hours</h2>
							<svg xmlns="http://www.w3.org/2000/svg" id="lastDayTweets" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 500 300">
								<text x="150" y="50%" style="text-anchor:middle">
									<tspan id="totalCount" class="metric" x="150"></tspan>
									<tspan x="150" dy="2em">tweets</tspan>
								</text>
								<rect x="340" y="20" width="24" height="24" style="fill:#008000;"></rect>
								<text x="380" y="20" dy=".9em">
									<tspan id="replyCount"></tspan>
									<tspan>replies</tspan>
									
								</text>
							</svg>
						</div>
					</div>
                </div>
				<div class="card">
					<div class="row">
						<div class="one-half column">
							Hashtags
						</div>
						<div class="one-half column">
							Mentions
						</div>
					</div>
                </div>
				<div class="card">
					<h2>About</h2>
					<p>Twitto.be is a dashboards showing information about the tweets geo-located in Belgium in real time.</p>
					<h3>Authors</h3>
					<ul>
						<li>Concept by <a href="https://mango-is.com/">Mehdi El Fadil, Mango Information Systems</a></li>
						<li>Development by <a href="https://mango-is.com/">Mehdi El Fadil, Mango Information Systems</a> and <a href="http://11dig.it/">Panagiotis Synetos, Eleven Digit Labs</a></li>
					</ul>
					<a class="button button-primary" href="https://mango-is.com/contact/">Hire us!</a>
					<h3>Facts</h3>
					<ul>
						<li>twitto.be has been created in about 40 hours of work.</li>
						<li>Twitto.be is open source, you are free to use <a href="https://github.com/Mango-information-systems/twitto_be">the code</a> to create your own dashboard. Contributions are welcome, too :)</li>
						<li>Between 2013 and 2015, twitto.be was a public directory of Belgian twitter users. We retired that version, but its source code is still available if you need: <a href="https://github.com/Mango-information-systems/twitto_be/tree/v0.4.5">archive</a>.</li>
					</ul>
					<h3>Share</h3>
					<div class="row">
						<div class="three columns">
							<a id="shareTwitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ftwitto.be&text=Have a look at Twitto.be, a real-time dashboard of Belgian twitter activity&via=twitto_be&hashtags=twittoBe" target="_blank"><img src="img/social_twitter_circle_color.png" width="48" height="48" alt="Share on Twitter"/></a>
						</div>
						<div class="three columns">
							<a id="shareGoogle" href="https://plus.google.com/share?url=http%3A%2F%2Ftwitto.be" target="_blank"><img src="img/social_google_circle_color.png" width="48" height="48" alt="Share on Google+"/></a>
						</div>
						<div class="three columns">
							<a id="shareFacebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftwitto.be" target="_blank"><img src="img/social_facebook_circle_color.png" width="48" height="48" alt="Share on Facebook"/></a>
						</div>
						<div class="three columns">
							<a id="shareLinkedin" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ftwitto.be&title=Have a look at Twitto.be, a real-time dashboard of Belgian twitter activity&source=twitto_be" target="_blank"><img src="img/social_linkedin_circle_color.png" width="48" height="48" alt="Share on Linkedin"/></a>
						</div>
					</div>
                </div>

            </div>
            <div class="one-half column">
				<div class="card">
					<div class="row">
						<h2>Tweets in the last 30 minutes</h2>
						<div class="two-thirds column">
							<p>
								per minute
								<svg xmlns="http://www.w3.org/2000/svg" id="tweetsPerMinute" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 600 300" />
							</p>
						</div>
						<div class="one-third column">
							<p>
								per second
								<svg xmlns="http://www.w3.org/2000/svg" id="tweetsPerSecond" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 300 300" />
							</p>
						</div>
					</div>
                </div>
				<div class="card">
					<h2>Geolocation</h2>
					<svg xmlns="http://www.w3.org/2000/svg" id="map" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 960 700">
						<% include ../partials/belgianMapPath %>
					</svg>
				</div>
            </div>
        </div>
    </div>
</section>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="./js/app.js"></script>
</body>
</html>
