<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<section class="stats">
    <div class="container-fluid">
        <div class="row">
            <div class="one-half column">
                <div class="row">
                    <div class="two-thirds column">
						<h6>per minute</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" id="tweetsPerMinute" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 600 300" />
                    </div>
                    <div class="one-third column">
						<h6>per second</h6>
                        <svg xmlns="http://www.w3.org/2000/svg" id="tweetsPerSecond" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 300 300" />
                    </div>
                </div>
                <div class="row">
                    <div class="two-thirds column">
                    </div>
                    <div class="one-third column" id="stats">
                        <div class="progress-bar total-tweets">
                            <div class="u-pull-left" data-value="100">Total</div>
                            <div class="u-pull-right label" style="text-align: right">-</div>
                            <progress style="width: 100%" max="100" value="0" class="html5"/>
                        </div>
                        <div class="progress-bar original-tweets">
                            <div class="u-pull-left" data-value="80">Original</div>
                            <div class="u-pull-right label" style="text-align: right">-</div>
                            <progress style="width: 100%" max="100" value="0" class="html5"/>
                        </div>
                        <div class="progress-bar retweets">
                            <div class="u-pull-left" data-value="30">Retweets</div>
                            <div class="u-pull-right label" style="text-align: right">-</div>
                            <progress style="width: 100%" max="100" value="0" class="html5"/>
                        </div>
                        <div class="progress-bar replies">
                            <div class="u-pull-left" data-value="20">Replies</div>
                            <div class="u-pull-right label" style="text-align: right">-</div>
                            <progress style="width: 100%" max="100" value="0" class="html5"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="one-half column">
                        Hashtags
                    </div>
                    <div class="one-half column">
                        Mentions
                    </div>
                </div>

            </div>
            <div class="one-half column">
				<h6>geolocation</h6>
                <%- svg %>
            </div>
        </div>
    </div>
</section>

<footer>
    <% include ../partials/footer %>
</footer>


<script>

    var tweetsCache =
    <%- JSON.stringify(tweets) %>
</script>
<script src="./js/app.js"></script>
</body>
</html>
