<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <% include ../partials/head %>
</head>
<body>


<section>
    <div class="container">
		<header>
			<% include ../partials/header %>
		</header>
        <div class="row">
            <div class="twelve columns">
				<div class="card">
					<h2>Temporarily offline</h2>
					<p>Hi, we're sorry, but twitto.be is temporarily unavailable. We'll make sure to fix this ASAP.</p>
					<p><strong>Please try to reload the page in a few seconds</strong></p>
					<p>Normally, you'd see a dashboard like this one here:</p>
					<p>
						<img class="u-img-responsive" src="img/twitto-be-dashboard-screenshot.png" alt="screenshot of the twitto.be dashboard" style="border: 1px solid #ccc"/>
					</p>
					<p>If you want to get in touch, you can <a href="https://twitter.com/twitto_be">ping us on twitter</a>.</p>
					<p>Stay tuned!</p>
				</div>
            </div>
        </div>
        <div class="row">
			<div class="twelve columns">
				<% include ../partials/about %>
			</div>
        </div>
    </div>
</section>

</body>
</html>
