<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>


<section>
    <div class="container-fluid">
		<header>
			<% include ../partials/header %>
		</header>
        <div class="row">
            <div class="one-half column">
				<div class="card">
					<h2>Temporarily offline</h2>
					<p>Hi, we're sorry, but twitto.be is temporarily unavailable. We'll make sure to fix this ASAP.</p>
					<p>twitto.be is under construction at the moment, not stable yet, hence the issue we're experiencing now.</p>
					<p>Normally, you'd see a dashboard like this one here:</p>
					<p>
						<img class="u-img-responsive" src="img/twitto-be-dashboard-screenshot.png" alt="screenshot of the twitto.be dashboard"/>
					</p>
					<p>If you want to get in touch, you can <a href="https://twitter.com/twitto_be">ping us on twitter</a>.</p>
					<p>Stay tuned!</p>
				</div>
            </div>
            <div class="one-half column">
				<% include ../partials/about %>
			</div>
        </div>
    </div>
</section>

<script src="./js/app.js"></script>
</body>
</html>
