<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <% include ../partials/head %>
</head>
<body>


<section>
    <div class="">
		<header>
			<% include ../partials/header %>
		</header>
		<!--[if IE]>
			<div class="alert alert-primary">
				For a better viewing experience, try to use another web browser: Chrome, Firefox...
			</div>
		<![endif]-->

        <div class="row">
            <div class="twelve columns">
				<div class="card">
					<div class="row">
						<div class="twelve columns">
							<h2>Mentions and hashtags graph <small>- the last 24 hours</small></h2>
							<div class="loading" id="graph">
							</div>
						</div>
					</div>
                </div>
        </div>
        <div class="row">
            <div class="six column">
				<div class="card">
					<h2>Tweets <small>in the last 24 hours</small></h2>
					<div class="loading" id="tweetStatsWrap">
						<svg id="tweetStats" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 500 300">
							<text x="275" y="75%" style="text-anchor:middle">
								<tspan id="totalCount" class="metric" x="275"></tspan>
								<tspan x="275" dy="2em">tweets</tspan>
							</text>
							
							<rect x="165" y="20" width="24" height="24" style="fill:#008000;"></rect>
							<text id="replyCount" x="155" y="20" dy=".9em" style="text-anchor:end">
							</text>
							
							<rect x="165" y="76" width="24" height="24" style="fill:black;"></rect>
							<text id="hashtagCount" x="155" y="76" dy=".9em" style="text-anchor:end">
							</text>
							
							<rect x="165" y="132" width="24" height="24" style="fill:#FFE936;"></rect>
							<text id="linkCount" x="155" y="132" dy=".9em" style="text-anchor:end">
							</text>
							
							<rect x="165" y="188" width="24" height="24" style="fill:#FF0F21;"></rect>
							<text id="mentionCount" x="155" y="188" dy=".9em" style="text-anchor:end">
							</text>
							
							<rect x="165" y="244" width="24" height="24" style="fill:#00aced;"></rect>
							<text id="mediaCount" x="155" y="244" dy=".9em" style="text-anchor:end">
							</text>
							
						</svg>
					</div>
                </div>
            </div>
            <div class="six column">
				<div class="card">
					<div class="row">
						<h2>Tweets <small>in the last 30 minutes</small></h2>
						<div class="row">
							<div id="timelineWrap" class="twelve columns loading">
								<div class="row">
									<div class="lg-six md-twelve column">
										<p>
											per minute
											<svg id="tweetsPerMinute" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 450 300" />
										</p>
									</div>
									<div class="lg-six md-twelve column">
										<p>
											per second
											<svg id="tweetsPerSecond" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="xMinYMin" viewBox="0 0 450 300" />
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="one-half columns">
				<% include ../partials/about %>
			</div>
			<div class="one-half columns">
				<div class="alert alert-primary">
					<%- appText.cta %>
				</div>
			</div>
		</div>
    </div>
</section>

<script src="./js/app.js"></script>
</body>
</html>
