<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <% include ../partials/head %>
</head>
<body>

	<section>
		<div class="container">
			<header>
				<% include ../partials/header %>
			</header>
			<div class="row">
				<div class="md-twelve lg-eight columns">
					<% include ../partials/about %>
				</div>
			</div>
			<div class="row">
				<div class="md-twelve lg-eight columns">
					<div class="card">
						<p>Twitto used to look like this at some point.</p>
						<img class="u-img-responsive" src="img/twitto-be-dashboard-screenshot.png" alt="screenshot of the twitto.be dashboard" style="border: 1px solid #ccc"/>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
